body,
html {
  margin: 0;
  padding: 0;

  font-size: 10px;

  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  cursor: pointer;
  color: $cafe;
}

a:focus {
  outline: none;
}
 
header.header.scroll {
  background-color: $beige;
  
  h1 {
    color: $cafe;
  }
  .cafe {
    color: $cafe !important;
  }
}
.user-icon {
  margin: 0 0 0 0%;
  display: flex;
  .regular-logo {
    margin-right: 25px !important;
    max-height: 50px;
  }
}


header.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  padding: 2.3rem 0;
  z-index: 10;
  transition: 500ms ease;

  .toggle {
    margin-right: 8.333333%;
    //width: 36px;
    height: 31px;
    cursor: pointer;
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;

    .bars {
      width: 36px;
      height: 4px;
      background-color: $beige;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: 0.5s;

      &.white {
        background-color: $cafe;
        &:before,
        &:after {
          background-color: $cafe;
        }
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 36px;
        height: 4px;
        background-color: $beige;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.4s;
      }
      &:before {
        top: -0px;
      }
      &:after {
        bottom: 0px;
      }
    }
    &.active {
      .bars {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
        &:before {
          top: 13px;
          transform: rotate(45deg);
        }
        &:after {
          bottom: 13px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    background-color: $cafe;
    margin-top: -5%;
    margin-left: 60%;

    a {
      font-size: 2.9rem;
      margin-bottom: 2.3rem;
      margin-right: 25%;
      min-width: 10rem;
      text-align: right;
      color: $white;
      text-align: right;
    }
    .social-icons {
      margin-right: 25%;
      text-align: right !important;
      margin-bottom: 100%;
      a {
        margin-right: 0%;
      }
    }
    .margen {
      //margin-top: 10%;
      margin-top: 20%;
    }
  }
}

.collapse {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  height: 0px;
  background-color: $beige;
  transition: 0.5s;
  z-index: 8;
  padding-right: 9.66666%;
  padding-left: 9rem;

  a {
    margin-bottom: 4rem;
    color: $cafe;
    font-size: 3.5rem;

    &.hover,
    &.active {
      text-decoration: underline;
    }
  }

  &.active {
    padding-top: 13rem;
  }
}

section.banner {
  position: relative;
  .image {
    figure {
      position: relative;
      margin-bottom: 0;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
  }

  .content {
    z-index: 2;
    position: absolute;
    bottom: 20%;
    right: 10%;
    text-align: center;
  }
}

section.servicios,
section.about {
  margin-top: 4.2rem;
}

section.strip {
  background-color: #efefef;
  padding: 4.4rem 0 6.2rem 0;
  margin-top: 5.6rem;
}

section.about {
  .body {
    margin-top: 2.4rem;
  }
}
.card-img-overlay {
  padding: 35% 0 0 5%;
}
section.blog {
  padding-bottom: 6rem;
  margin-top: 8.5rem;
  margin-bottom: 1rem;

  .carousel-blog {
    margin-left: 8.333333%;
    .slider {
      transition: 0.5s;
      margin-top: 7rem;

      width: 100%;
      display: flex;
      .preview-post {
        margin-right: 3rem;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;

        position: relative;
        a {
          figure {
            overflow: hidden;
            margin-bottom: 0;

            img {
              transition: 0.5s;
              transform: scale(1.1);
            }
          }
          &:hover {
            img {
              transform: scale(1);
            }
          }
        }
        .content {
          padding: 2rem 2.3rem 1.4rem 2.3rem;
          position: absolute;
          bottom: 1.4rem;
          background-color: $beige;
        }
        .title2 {
          font-size: 5rem;
          line-height: 20px;
          font-family: rose;
          color: $negro;
        }
      }
      .preview-post2 {
        margin-right: 3rem;
        max-width: 41.666667%;
        flex: 0 0 41.666667%;
        position: relative;
        a {
          figure {
            overflow: hidden;
            margin-bottom: 0;

            img {
              transition: 0.5s;
              transform: scale(1.1);
            }
          }
          &:hover {
            img {
              transform: scale(1);
            }
          }
        }
        .content {
          padding: 0 2.3rem 1.4rem 2.3rem;
          position: absolute;
          bottom: 1.4rem;
        }
      }
    }
  }

  .control {
    margin-top: 2.8rem;
  }
}
section.casos {
  padding-bottom: 6rem;
  margin-top: 8.5rem;
  margin-bottom: 1rem;
  .row {
    margin: 5% 0 0 0;
  }
  .row.carousel-blog {
    margin: 0 0 0 0;
  }
  .col-md-5 {
    margin-bottom: 2%;
    flex: 0 0 50%;
    max-width: 100%;
  }
  .slider {
    transition: 0.5s;
    margin: 5% 0 10% 10%;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    .preview-post {
      margin-right: 3rem;
      flex: 0 0 41.666667%;
      margin-bottom: 2%;
      max-width: 100%;
      position: relative;
      a {
        figure {
          overflow: hidden;
          margin-bottom: 0;

          img {
            transition: 0.5s;
            transform: scale(1.1);
          
          }
        }
        &:hover {
          img {
            transform: scale(1);
          }
        }
      }
      .content {
        padding: 0 2.3rem 1.4rem 2.3rem;
        position: absolute;
        bottom: 1.4rem;
        background-color: $beige;
      }
      .title2 {
          font-size: 5rem;
          line-height: 20px;
          font-family: rose;
          color: $negro;
        }
    }
  }
  .control {
    margin-top: -10rem;
  }
}

section.contacto {
  

  padding: 15rem 0 14.6rem 0;
  form {
    margin-top: 10%;

    input[type="text"],
    input[type="email"] {
      width: 100%;
      height: 0%;
      background-color: $beige;
      margin-bottom: 2rem;
      padding: 1rem 1.3rem;
      border: solid 2px $cafe;
      font-family: donut;
      font-size: medium;
      border-radius: 40px;

    }

    textarea {
      resize: none;
      padding: 1rem 1.3rem;
      border: solid 2px $cafe;
      width: 100%;
      height: auto;
      background-color: $beige;
      font-family: donut;
      font-size: medium;
      margin-bottom: 10%;
      border-radius: 40px;

    }
  }
  .datos {
    margin-top: 5%;
    padding-left: 0px;
  }
  .map{
    align-content: center;
    margin-top: 5%;
  }
  
}

footer.footer {
  background-color: $beige;
  padding: 2rem 0;
  position: relative;
  z-index: 1;
  .container-fluid {
    margin: 1% 5%;
  }
  .footer-main {
    margin-top: 4rem;

    p,
    a {
      font-family: donut;
      font-size: 2.5rem;
      color: $cafe;
      margin: 0;
    }

    .menu-list {
      a {
        display: block;
        margin-bottom: 0.6rem;
        text-align: left;
        font-family: donut;
        font-size: 2.5rem;
      }
      p {
        display: block;
        margin-bottom: 0.6rem;
        text-align: left;
        font-family: donut;
        font-size: 1.8rem;
      }
    }

    .social-icons {
      margin: 1.5rem 0 3rem 0;
      display: flex;
      justify-content: left;
      a {
        margin-right: 5px;
      }
    }
  }

  .terms-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: medium;
      font-family: donut;
    }
  }
}
section.caso {
  margin-top: 10%;
  .title {
    color: $cafe;
    margin-bottom: 5%;
    &.cafe {
      color: $cafe;
      font-size: 2rem;
    }
  }
  .txt-stroke {
    color: transparent;
    line-height: 100%;
  }
  .row {
    margin-bottom: 2%;
  }
  .social-icons {
    a {
      margin-right: 2%;
    }
  }
  .ml-4 {
    p {
      margin-right: 3%;
    }
  }
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #aa0095;
}

.video-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.wrap {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}
.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}
section.ticket {
  margin: 10%;
}

//and (max-device-width: 1024px)
@media (max-width: 767px) {
  //Estilos particulares

  #titulo {
    margin-top: 30% !important;
  }
  .slider {
    flex-wrap: wrap;
    .preview-post {
      flex: 0 0 100%;
      padding-bottom: 5%;
      margin-left: -6%;
      flex: 0 0 100% !important;
      max-width: 100% !important;
      .title {
        line-height: 20px;
      }
      .paragraph {
        font-size: 1.3rem;
        line-height: 15px;
      }
    }
    .preview-post2 {
      flex: 0 0 100%;
      padding-bottom: 5%;
      margin-left: -6%;
      flex: 0 0 100% !important;
      max-width: 100% !important;
      .title {
        line-height: 20px;
      }
      .paragraph {
        font-size: 1.3rem;
        line-height: 15px;
      }
    }
  }

  section.banner {
    .content {
      .title {
        line-height: 0px;

        & .v2 {
          line-height: 0px;
        }
      }
      h1 {
        font-size: large;
      }
      h2 {
        font-size: medium;
      }
    }
  }

  section.servicios {
    .puntos {
      margin: -8% 0 0 3%;
    }
    
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 2rem;
    }
    .ml-4 {
      margin-top: -5%;
    }
    .sombra {
      margin: 20% 8%;
    }
  }
  section.about {
    .puntos {
      margin: -8% 0 0 3%;
    }
    .title {
      line-height: 40px;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 2rem;
    }
    .ml-4 {
      margin-top: -5%;
    }
  }
  section.blog {
    .puntos {
      margin: -8% 0 0 3%;
    }
    .title2 {
      line-height: 15px;
      font-size: 2rem;
    }
    h1 {
      margin-top: -2%;
    }
    .ml-4 {
      margin-top: -2%;
    }
  }
  section.contacto {
    padding: 10rem 0 14.6rem 0;

    section.contacto {
      padding: 1rem 0 14.6rem 0;
  }
    padding-bottom: 3rem;
    .puntos {
      margin: -8% 0 0 0;
    }
    .title {
      line-height: 15px;
      margin-left: 3%;
    }
    h1 {
      font-size: 2rem;
    }
    .ml-4 {
      margin-top: 3%;
    }
    .map {
      margin-top: 10%;
      width: 100%;
      height: 255px;
    }
  }
  footer.footer {
    .container-fluid {
      margin: 0 0;
      img {
        margin-left: -20%;
        max-width: 70%;
      }
      .menu-list a {
        font-size: 1.5rem;
      }
      .menu-list p {
        font-size: 1.5rem;
      }
      .menu-list {
        margin-top: 5%;
      }
      .social-icons {
        justify-content: center;
        margin: 5% 0;
        img {
          width: 31px;
          height: 31px;
        }
      }
      .terms-container {
        justify-content: center;
        margin-top: 0;
        .paragraph{
          font-size: 1rem;

        }
      }
      .col-8 {
        max-width: 100%;
        text-align: center;
      }
    }
  }
  section.caso {
    .row {
      .title {
        line-height: 15px;

        & .v2 {
          line-height: 0px;
        }
      }
      h1 {
        margin-top: 20%;
        font-size: large;
      }
      h2 {
        font-size: medium;
      }
    }
  }
  header.header {
    .links {
      margin-top: -20%;
      margin-left: 0%;

      a {
        font-size: 2.9rem;
        margin-bottom: 2.3rem;
        margin-right: 15%;
        min-width: 10rem;
        text-align: right;
        color: $white;
      }
      .social-icons {
        text-align: right;
        margin-bottom: 100%;
      }
      .margen {
        //margin-top: 10%;
        margin-top: 30%;
      }
    }
  }
  section.casos {
    .title.pt {
      line-height: 30px !important;
      margin-bottom: 20%;
    }
    .row {
      margin: 0 0 0 0;
      .title2 {
        font-size: 2.5rem;
        line-height: 20px;
        font-family: rose;
        color: $negro;
      }
      .paragraph {
        font-size: 1rem;
        line-height: 15px;
      }
    }
    .card-img-overlay {
      padding: 3% 10% 0 10%;
    }
    .slider{
      .preview-post{
        .content{
          padding: 1rem 2.3rem 1.4rem 2.3rem;
          bottom: 3rem!important;
        }
      }
    }
    
  }
 
  
	.paragraph.v3{
		font-size: 2rem!important;
	}
	.title.v3{
		font-size: 7rem!important;
	}
	
	.content{
		bottom: 1%!important;
	}
.title{
	&.v2{
		font-size: 5rem;
    line-height: 40px;
	}
	
}
.about {figure{
	margin: 5% 0%;
	img{
		max-width: 100%!important;
	}
}	}
iframe{
	max-width: 100%!important;
}
}
